
.reset-list,
.vp-doc .reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vp-doc .reset-list li + li {
  margin: 0;
}

.reset-link,
.vp-doc .reset-link {
  text-decoration: none;
  color: inherit;
}

.VPHomeHero {
  @apply bg-gray-100 dark:bg-gray-700 mb-10;
}

.box .icon {
  background: var(--vp-c-indigo-1);
  @apply text-white dark:text-black;
}

.VPHomeHero {
  @apply bg-gray-100 dark:bg-gray-700 mb-10;
}

.box .icon {
  background: var(--vp-c-indigo-1);
  @apply text-white dark:text-black;
}

